# Silicon Cylinder params

SI_L1_RADIUS : 3.6
SI_L1_E_LENGTH : 13.5
SI_L1_H_LENGTH : 13.5
SI_L1_THICKNESS : 0.05
SI_L1_PITCH : 10.0
SI_L2_RADIUS : 5.5
SI_L2_E_LENGTH : 13.5
SI_L2_H_LENGTH : 13.5
SI_L2_THICKNESS : 0.05
SI_L2_PITCH : 10.0
SI_L3_RADIUS : 8.5
SI_L3_E_LENGTH : 13.5
SI_L3_H_LENGTH : 13.5
SI_L3_THICKNESS : 0.05
SI_L3_PITCH : 10.0
SI_L4_RADIUS : 12.3
SI_L4_E_LENGTH : 27
SI_L4_H_LENGTH : 27
SI_L4_THICKNESS : 0.15
SI_L4_PITCH : 10.0
SI_L5_RADIUS : 21.0
SI_L5_E_LENGTH : 35
SI_L5_H_LENGTH : 35
SI_L5_THICKNESS : 0.15
SI_L5_PITCH : 10.0
SI_L6_RADIUS : 36.0
SI_L6_E_LENGTH : 45
SI_L6_H_LENGTH : 45
SI_L6_THICKNESS : 0.35
SI_L6_PITCH : 10.0
SI_L7_RADIUS : 48.0
SI_L7_E_LENGTH : 60.0
SI_L7_H_LENGTH : 60.0
SI_L7_THICKNESS : 0.55
SI_L7_PITCH : 10.0

# Silicon Electron Endcap params

SI_ED1_Z : -25.0
SI_ED1_THICKNESS : 35.0
SI_ED1_PITCH : 10.0
SI_ED2_Z : -39.0
SI_ED2_THICKNESS : 35.0
SI_ED2_PITCH : 10.0
SI_ED3_Z : -52.0
SI_ED3_THICKNESS : 35.0
SI_ED3_PITCH : 10.0
SI_ED4_Z : -63.0
SI_ED4_THICKNESS : 35.0
SI_ED4_PITCH : 10.0
SI_ED5_Z : -79.0
SI_ED5_THICKNESS : 35.0
SI_ED5_PITCH : 10.0
SI_ED6_Z : -88.0
SI_ED6_THICKNESS : 35.0
SI_ED6_PITCH : 10.0
SI_ED7_Z : -107.0
SI_ED7_THICKNESS : 35.0
SI_ED7_PITCH : 10.0

# Silicon Hadron Endcap params

SI_HD1_Z : 25.
SI_HD1_THICKNESS : 35.0
SI_HD1_PITCH : 10.0
SI_HD2_Z : 52.0
SI_HD2_THICKNESS : 35.0
SI_HD2_PITCH : 10.0
SI_HD3_Z : 73.0
SI_HD3_THICKNESS : 35.0
SI_HD3_PITCH : 10.0
SI_HD4_Z : 94.0
SI_HD4_THICKNESS : 35.0
SI_HD4_PITCH : 10.0
SI_HD5_Z : 106.0
SI_HD5_THICKNESS : 35.0
SI_HD5_PITCH : 10.0
SI_HD6_Z : 117.0
SI_HD6_THICKNESS : 35.0
SI_HD6_PITCH : 10.0
SI_HD7_Z : 125.0
SI_HD7_THICKNESS : 35.0
SI_HD7_PITCH : 10.0

# Magnetic Field property

B_FIELD : 1.4